body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr.main-table-row {
  cursor: pointer;
}

.card
.card-title {
  font-size: 2em;
  text-transform: uppercase;
}

a.waves-effect.waves-light.btn-large {
  margin-top: 1em;
}

.row.button-container {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

span.asana-name {
  text-transform: capitalize;
}
